! ---------------------------- DEFINES --------------------------------

! Dark shades
#define darkest   #222222
#define darker    #555555

! Light Shades
#define lightest  #FFFFFF
#define light     #AAAAAA

! Main shades
#define bad       #DB4130
#define urgent    #D95F32
#define ok        #81D818
#define good      #B2EF69
#define warning   #D9B032
#define notify    #F5DB88
#define cyan      #60E9E9
#define lightcyan #ABECEC
#define blue      #32ACD9
#define lightblue #88A2F5
#define magenta   #AC81E0
#define limagenta #6F18D8

! ---------------------------- ROFI --------------------------------

rofi.color-enabled: true
rofi.color-window: darkest, darker,  blue
rofi.color-normal: darkest, lightest,  darker, blue, lightest
rofi.color-active: darkest, blue,   darker, blue, lightest
rofi.color-urgent: darkest, urgent, darker, blue, urgent
rofi.opacity: 70
rofi.font: xft:Fantasque Sans Mono 11
rofi.dpi: 144

! ---------------------------- URXVT --------------------------------

URxvt*background: darkest
URxvt*foreground: lightest
! black
URxvt.color0  : darkest
URxvt.color8  : darker
! red
URxvt.color1  : bad
URxvt.color9  : urgent
! green
URxvt.color2  : ok
URxvt.color10 : good
! yellow
URxvt.color3  : warning
URxvt.color11 : urgent
! blue
URxvt.color4  : blue
URxvt.color12 : lightblue
! magenta
URxvt.color5  : magenta
URxvt.color13 : limagenta
! cyan
URxvt.color6  : cyan
URxvt.color14 : lightcyan
! white
URxvt.color7  : light
URxvt.color15 : lightest

URxvt.font: xft:Fantasque Sans Mono
URxvt*scrollBar:  false
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0000/3300

