Xft.dpi: 160
! ---------------------------- ROFI --------------------------------

rofi.color-enabled: true
! State:		bg	fg		bgalt		hlbg		hlfg
rofi.color-window:  #20201d,	#20201d
rofi.color-normal:  #20201d, 	#fefbec,	#20201d,	#698d23,	#fefbec
rofi.color-active:  #20201d, 	#fefbec,	#20201d,	#698d23,	#fefbec
rofi.color-urgent:  #20201d, 	#fefbec,	#20201d,	#698d23,	#a6a28c
rofi.opacity: 87.5
rofi.font: xft:Fantasque Sans Mono 11
rofi.dpi: 170

! ---------------------------- URXVT -------------------------------
! special
*foreground:   #bcbcbc
*background:   #2d2d2d
*cursorColor:  #bcbcbc

! black
*color0:       #383838
*color8:       #4a7000

! red
*color1:       #7b7b7b
*color9:       #999771

! green
*color2:       #84955d
*color10:      #698d23

! yellow
*color3:       #899068
*color11:      #809707

! blue
*color4:       #78862f
*color12:      #71a60d

! magenta
*color5:       #969a82
*color13:      #819341

! cyan
*color6:       #64832a
*color14:      #8ca525

! white
*color7:       #31711b
*color15:      #676529

URxvt.font: xft:Fantasque Sans Mono
URxvt*scrollBar:  false
urxvt*depth: 32
urxvt*background: rgba:2a00/2900/2300/dd00


