! Color definitions
#define S_background #0e131a
#define S_foreground #e1e9cd

#define S_color0    #1c2734
#define S_color1    #f06318
#define S_color2    #d98d64
#define S_color3    #f4d073
#define S_color4    #f3b348
#define S_color5    #5c8c7f
#define S_color6    #22b9b0
#define S_color7    #e5e5e5

#define S_color8    #4d4d4d
#define S_color9    #f06318
#define S_color10   #5c8c7f
#define S_color11   #f4d073
#define S_color12   #f3b348
#define S_color13   #5c8c7f
#define S_color14   #22b9b0
#define S_color15   #e1e9cd

#define S_DPI 220

! Rofi Settings
rofi.color-enabled:  true                                                        
!State:              bg             fg             bgalt          hlbg           hlfg
rofi.color-window:   S_background,  S_color6                                     
rofi.color-normal:   S_background,  S_foreground,  S_background,  S_color6,      S_background
rofi.color-active:   S_background,  S_foreground,  S_background,  S_background,  S_foreground
rofi.color-urgent:   S_background,  S_foreground,  S_background,  S_background,  S_foreground
rofi.font:           Fantasque      Sans           Mono           11             
rofi.dpi:            S_DPI                                                       
rofi.location:       0                                                           
rofi.xoffset:        0                                                           
rofi.bw:             7
rofi.terminal:       alacritty                                                   

! URXVT/Xterm colors
*foreground:   S_foreground
*background:   S_background
*cursorColor:  S_foreground
*color0:       S_color0
*color1:       S_color1
*color2:       S_color2
*color3:       S_color3
*color4:       S_color4
*color5:       S_color5
*color6:       S_color6
*color7:       S_color7
*color8:       S_color8
*color9:       S_color9
*color10:      S_color10
*color11:      S_color11
*color12:      S_color12
*color13:      S_color13
*color14:      S_color14
*color15:      S_color15

! Xorg settings
Xft.dpi:       S_DPI
