! Color definitions
#define S_background #000000
#define S_foreground #ffffff

#define S_color0    #000000
#define S_color1    #ff0061
#define S_color2    #cb91ff
#define S_color3    #ee92ef
#define S_color4    #e800ff
#define S_color5    #e22dcc
#define S_color6    #a26fff
#define S_color7    #f7ceff

#define S_color8    #791980
#define S_color9    #ff0061
#define S_color10   #cb91ff
#define S_color11   #ee92ef
#define S_color12   #e800ff
#define S_color13   #e22dcc
#define S_color14   #e800ff
#define S_color15   #ffffff

#define S_DPI 96

! Rofi Settings
rofi.color-enabled:  true                                                        
!State:              bg             fg             bgalt          hlbg           hlfg
rofi.color-window:   S_background,  S_color1                                     
rofi.color-normal:   S_background,  S_foreground,  S_background,  S_color1,      S_background
rofi.color-active:   S_background,  S_foreground,  S_background,  S_background,  S_foreground
rofi.color-urgent:   S_background,  S_foreground,  S_background,  S_background,  S_foreground
rofi.font:           Fantasque      Sans           Mono           13             
rofi.dpi:            S_DPI                                                       
rofi.location:       0                                                           
rofi.xoffset:        0                                                           
rofi.bw:             3
rofi.terminal:       alacritty                                                   

! URXVT/Xterm colors
*foreground:   S_foreground
*background:   S_background
*cursorColor:  S_foreground
*color0:       S_color0
*color1:       S_color1
*color2:       S_color2
*color3:       S_color3
*color4:       S_color4
*color5:       S_color5
*color6:       S_color6
*color7:       S_color7
*color8:       S_color8
*color9:       S_color9
*color10:      S_color10
*color11:      S_color11
*color12:      S_color12
*color13:      S_color13
*color14:      S_color14
*color15:      S_color15

! Xorg settings
Xft.dpi:       S_DPI
