! Color definitions
#define S_background #0d0f31
#define S_foreground #cdcdcd

#define S_color0    #26295c
#define S_color1    #f0c674
#define S_color2    #96a1ff
#define S_color3    #ff16b0
#define S_color4    #ff16b0
#define S_color5    #862da3
#define S_color6    #81a2be
#define S_color7    #707880

#define S_color8    #3c3f67
#define S_color9    #ab4287
#define S_color10   #96a1ff
#define S_color11   #f0c674
#define S_color12   #81a2be
#define S_color13   #ab4287
#define S_color14   #8abeb7
#define S_color15   #c5c8c6

#define S_DPI 220

! Rofi Settings
rofi.color-enabled:  true                                                        
!State:              bg             fg             bgalt          hlbg           hlfg
rofi.color-window:   S_background,  S_color6                                     
rofi.color-normal:   S_background,  S_foreground,  S_background,  S_color6,      S_background
rofi.color-active:   S_background,  S_foreground,  S_background,  S_background,  S_foreground
rofi.color-urgent:   S_background,  S_foreground,  S_background,  S_background,  S_foreground
rofi.font:           Fantasque      Sans           Mono           11             
rofi.dpi:            S_DPI                                                       
rofi.location:       0                                                           
rofi.xoffset:        0                                                           
rofi.bw:             7
rofi.terminal:       alacritty                                                   

! URXVT/Xterm colors
*foreground:   S_foreground
*background:   S_background
*cursorColor:  S_foreground
*color0:       S_color0
*color1:       S_color1
*color2:       S_color2
*color3:       S_color3
*color4:       S_color4
*color5:       S_color5
*color6:       S_color6
*color7:       S_color7
*color8:       S_color8
*color9:       S_color9
*color10:      S_color10
*color11:      S_color11
*color12:      S_color12
*color13:      S_color13
*color14:      S_color14
*color15:      S_color15

! Xorg settings
Xft.dpi:       S_DPI
